@media (max-width: 1700px) {
   .s4 {
      padding-right: 30px;
      padding-left: 30px;
   }
   .s4__col {
      max-width: 476px;
   }  
   .image__sell>img{
      width: 130%;
   }
   .footer__container {
      max-width: 1600px;
   }    
}

@media (max-width: 1400px) {
   .s4__item {
      margin: 0 auto;
   }
   .footer__container {
      max-width: 1300px;    
   }
}

@media (max-width: 1354px) {
   /* .s1 {
      padding-top: 20px;
   } */
   /* .s1__subtitle {
      max-width: 754px;
   } */

   /* .s7 {
      background-size: 35%;
   } */

   /* .s8__swiper-button-next,
   .s8__swiper-button-prev {
      width: 70px;
      height: 70px;
   } */

   /* .swiper-button-next {
      right: -108px;
   }

   .swiper-button-prev {
      left: -108px;
   } */

   /* .s9__image>img {
      max-width: 90%;
   } */

   /* .s9__form {
      transform: translateY(0);
   } */

   .footer__container {
      max-width: 1254px;    
   }
}

@media (max-width:1344px) {
   .header__logo {
      margin-right: 28px;
   }

   .menu__item {
      margin-right: 32px;
   }
   .footer__container {
      max-width: 1244px;    
   }
}

/* @media(max-width: 1310px){
   .s2__wrap {
      background-size: 30%;
   }
} */


@media (max-width: 1299px) {
   .s4__phone {
      position: absolute;
      /* top: 230px; */
      top: 38%;
      right: 38.5%;
      transform: translate(50%, 0);
   }

   .s4__phone>img {
      /* max-width: 154px; */
      width: 90%;
   }

   .s4__title {
      margin-bottom: 140px;
   }

   .s4__col {
      min-height: 580px;
   }

   /* .s4__phone::after {
      display: none;
   } */

   .s4__phone::before {
      transform: rotate(-10.64deg);
      top: -90px;
      font-size: 40px;
      line-height: 40px;
      right: -30px;
      /* transform: translateX(50%); */
   }
   .footer__container {
      max-width: 1199px;    
   }
}

@media (max-width: 1250px) {
   /* .menu__burger {
      display: block;
   }
   .menu,
   .phone,
   .header__button {
      display: none;
   } */
   /* .header__logo>img {
      max-width: 164px;
   } */
   /* .call-icon {
      display: block;
      padding-right: 68px;
   } */

   .header__logo>img {
      max-width: 180px;
   }

   .header__button{
      padding: 15px 20px;
   }
   .header__contact {
      margin-right: 0px;
   }

   .s1 {
      margin-top: 93px;
   }

   /* .menu__open{
      display: block;
   } */

   .header {
      height: 93px;
   }
   .s1__container {
      padding: 0 0 0 40px;
   }

   .s1__subtitle {
      max-width: 500px;
   }

   .step {
      padding-left: 45px;
   }
   .step2 {
      margin-left: 40px;
   }

   .special {
      bottom: -10px;
   }

   .s2__wrap{
      background-size: auto 65%;
   }
   /* .header__logo {
      margin: 0;
   } */
   /* .swiper-button-prev,
   .swiper-button-next {
      display: none;
   } */

   .footer__container {
      max-width: 1150px;    
   }

}
@media(max-width: 1180px){
   .s2__wrap{
      background-size: auto 50%;
   }

}

@media(max-width: 1100px){
   /* .menu__burger {
      display: block;
   }

   .menu,
   .phone,
   .header__button {
      display: none;
   }
   .header__logo>img {
      max-width: 164px;
   }
   .call-icon {
      display: block;
      padding-right: 68px;
   } */

   .s1 {
      background-image: url(../images/s1-bg-smalll.jpg);
      /* background-size:auto 90%; */
      /* min-width: 1100px; */
      background-size: auto 100%;

   }
   .s2{
      padding:80px 0;
   }

   .s2__wrap {
      padding-top: 370px;
      background-repeat: no-repeat;
      background-position: top;
      background-size: auto 40%;
   }
   .s2__title{
      margin-bottom: 50px;
   }
   /* .image__sell {
      position: absolute;
      right: 30px;
      top: 0;
      text-align: right;
      
   }
   .image__sell>img{
      height: 70%;
      width: 70%;
   } */

   .s3__container{
      padding:50px 0;
   }
   .s3__title{
      margin-bottom: 50px;
   }
   .s3__item-title{
      font-size: 60px;
   }
   .s4{
      padding:80px 0;
   }
   .s4__title{
      margin-bottom: 100px;
   }
   .s4__phone>img {
      /* max-width: 154px; */
      width: 80%;
   }
   .s4__phone{
      top: 37%;
      right: 36%;
   }
   .s4__col{
      max-width: 390px;
   }
   .s5__form{
      margin-bottom: 90px;
   }
   .s6{
      padding: 50px 20px 107px 20px;
   }
   .s6__title{
      margin-bottom: 50px;
   }
   .swiper-button-prev {
      width:50px;
      height: 50px;
      left: -100px;
      background-size: auto 50%;
   }
   .swiper-button-next {
      width:50px;
      height: 50px;
      right: -100px;
      background-size: auto 50%;
   }
   .swiper-pagination{
      bottom: -45px;
   }
   .s7{
      padding:80px 0;
      background-size: auto 50%;
   }
   .s7__title-top{
      margin-bottom: 150px;

   }
   .s8{
      padding: 50px 20px 125px 20px;
   }
   .footer__container {
      max-width: 1000px;    
   }
   .s9{
      padding: 80px 0 0 0;
      /* background-size: 60%; */
   }
   .s9__content{
      /* max-width: 80%; */
      padding: 0 44px 0 55px;
   }
   .s9__form{
      min-width: 466px;
      transform: translateY(10%);
      /* transform: none; */
   }
}
@media (max-width: 1040px) {
   .menu__burger {
      display: block;
   }
   .menu,
   .phone,
   .header__button {
      display: none;
   }
   /* .header__logo>img {
      max-width: 164px;
   } */
   .call-icon {
      display: block;
      padding-right: 68px;
   }

   /* .s1__steps {
      margin-top: 350px;
   } */

   .s1 {
      /* background-image: url(../images/s1-bg-small.jpg); */
      /* background-size: contain; */
      /* background-position: 100% 30%; */
      padding: 50px 0;
   }
   /* .special {
      left: 10px;
      bottom: 300px;
   } */
   /* .s3__wrap {
      max-width: 671px;
      margin: 0 auto;
   } */

   /* .s7__item {
      position: static;
      text-align: left;
   }

   .s7__step3 {
      transform: translate(0, 0);
   }

   .s7__title::before {
      font-size: 35px;
      line-height: 43px;
      top: -33px;
      left: 0px;
   }

   .s7 {
      background-size: 50%;
      background-position: right;
   } */

   /* .s8__col1>img {
      width: 88px;
   } */

   .image__sell>img{
      width: 100%;
   }
   .image__sell {
      right: 110px;
      top: 90px;
  }

   .s9__content{
      padding: 0 40px 0 50px;
   }
   .s9__form{
      transform: translateY(-2%);
      /* transform: none; */
   }

   /* .s9__content {
      display: block;
   }
   .s9 {
      background-image: none;
   }
   .s9__image {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .s9__image>img {
      max-width: 50%;
   }
   .s9__form {
      min-width: 0px;
   } */
   .s10__content{
      left: 50px;
   }
   .footer__container {
      max-width: 1040px;    
   }
}
@media(max-width: 980px){
   .s1 {
      /* background-image: url(../images/s1-bg-small.jpg); */
      /* background-size: contain; */
      /* background-position: 100% 30%; */
      padding: 70px 0;
   }
   .s4{
      padding: 80px 50px;
   }
   .s4__col-wrap{
      margin-top: 500px;
      background-image: none;
   }
   .s4__phone{
      top: 240px;
   }
   .s4__col{
      max-width: 470px;
      padding: 0;
   }
   .s4__item-title,
   .s4__item-text {
      text-align: left;
   }
   .s4__item{
      margin: 0;
   }

   .image__sell {
      right: 100px;
   
   }
   .s5__form{
      width: 95%;
   }
   .swiper-button-next, .swiper-button-prev{
      display: none;
   }

   /* .s7{
      background-image: none;
   }
   .s7__wrapper{
      background-image: url(../images/s7__bg.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: auto 50%;
   }
   .s7__content{

   } */

   .s7__wrapper{
      padding: 0 50px;
   }
   .s7__title-top{
      margin-bottom: 50px;
   }
   .s7__item {
      position: static;
      text-align: left;
      margin-bottom: 40px;
   }
   .s7__step3 {
      transform: translate(0, 0);
   }

   .s7__title::before {
      font-size: 35px;
      line-height: 43px;
      top: -33px;
      left: 0px;
   }
   .s7 {
      background-size: 50%;
      background-position: right;
   }
   .s9__image>img{
      max-width: 90%;
   }
   .s9__content{
      padding: 0 20px;
   }
   .s9__form{
      transform: translateY(-2%);
      /* transform: none; */
   }
   /* .s4__item-title,
   .s4__item-text {
      text-align: left;
      max-width: 500px;
   } */

   /* .s4__col1, 
   .s4__col2{
      padding: 0 20px;
   } */

   /* .s4__phone>img{
      max-width: 70%;
   }
   .s4__phone{
      top: 44%;
      right: 45.5%;
   }
   .s4__phone::before{
      display: none;
   }
   .s4__phone::after{
      display: none;
   } */
   /* .s4__col-wrap {
      flex-direction: column;
      align-items: center;
   }
   .s4__col {
      min-height: 0px;
   }
   .s4__item {
      margin-bottom: 35px;
   }
   .s4 {
      padding-top: 65px;
      padding-bottom: 10px;
   }
   .s4__col1 {
      padding-top: 50px;
   }
   .s4__phone {
      top: 205px;
   }
   .image__sell,
   .image__sell>img {
      display: none;
   } */

   /* .form__title:after {
      content: "Первый месяц - 50% скидка!";
      position: absolute;
      bottom: -20px;
      right: 50%;
      width: 100%;
      font-family: MontR;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #950000;
      transform: translateX(50%);
   } */
   /* .s5__form {
      border: 0px;
      padding: 10px;
   } */
}
@media (max-width: 920px){
   .s1 {
      /* padding: 90px 0; */
      background-image: url(../images/s1-bg-small!.jpg);
      background-position: right;
      background-size: auto 85%;
   }
   .s1__but{
      margin-top: 80px;

   }
}

/* @media (max-width: 920px) {
   .s1__title {
      font-size: 30px;
      line-height: 33px;
   }
   .s1__subtitle {
      font-size: 18px;
      line-height: 24px;
   }
   .s1__steps {
      margin-top: 450px;
   }
   .special {
      bottom: 400px;
   }
   .s1__subtitle {
      max-width: 375px;
   }
   .s2__wrap {
      flex-direction: column;
      padding-top: 380px;
   }
   .s10__content {
      max-width: 100%;
      padding: 70px 80px;
      position: relative;
      top: 0;
      left: 0;
   }

   .s10 {
      height: 337px;
   }

   .s10__content {
      padding: 65px 40px;
      min-height: 550px;
   }

   .s10__title {
      font-size: 26px;
      line-height: 33px;
   }

   .s10__place {
      font-size: 18px;
      line-height: 20px;
   }

   .s10__phone {
      font-size: 18px;
      line-height: 23px;
   }

   .s10__gmail {
      font-size: 18px;
      line-height: 23px;
   }
   .footer {
      background: #4080b1;
      position: absolute;
      bottom: -555px;
   }
} */

/* @media (max-width: 858px) {
   .s4__col-wrap {
      flex-direction: column;
      align-items: center;
   }

   .s4__col {
      min-height: 0px;
   }

   .s4__item {
      margin-bottom: 35px;
   }

   .s4 {
      padding-top: 65px;
      padding-bottom: 10px;
   }

   .s4__col1 {
      padding-top: 50px;
   }

   .s4__phone {
      top: 205px;
   }

   .image__sell,
   .image__sell>img {
      display: none;
   }

   .form__title:after {
      content: "Первый месяц - 50% скидка!";
      position: absolute;
      bottom: -20px;
      right: 50%;
      width: 100%;
      font-family: MontR;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #950000;
      transform: translateX(50%);
   }

   .s5__form {
      border: 0px;
      padding: 10px;
   }

   .form__content {
      margin: 0 auto;
   }

   .s8__slide {
      padding: 20px;
   }

   .s8__col1 {
      padding: 0;
      margin-right: 20px;
   }
} */

@media (max-width: 860px){
   .image__sell>img{
      width: 90%;
   }
}

@media (max-width: 795px){
   .s2__title{
      margin-bottom: 10px;
   }
   .s2__wrap{
      padding-top: 310px;
   }
   .s4__title{
      margin-bottom: 70px;
   }
   .s4__phone {
      top: 300px;
      right: 10%;
   }
   .s4__col-wrap {
      flex-direction: column;
      margin-top: 0;
      /* align-items: center; */
   }
   .image__sell{
      right: 30px;
   }
   .footer__container {
      padding: 15px 50px;
   }
   /* .s9__image>img {
      max-width: 331px;
   } */

   /* .s9__content {
      display: block;
   } */
   .s9 {
      background-image: none;
   }
   /* .s9__image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
   } */
   /* .s9__image>img {
      max-width: 80%;
   } */

   .s9__form {
      padding:46px 30px 50px 30px;
      max-width: 400px;
      min-width: 300px;
   }
   .s9__send-button{
      max-width: 200px;
   }
   .s9__form-title{
      margin-bottom: 26px;
   }
   .s9__form-subtitle{
      /* margin-bottom: 30px; */
      display: none;
   }
   .s9__form-input {
      margin-bottom: 20px;
   }
   .s10{
      height: 400px;
   }
   .s10__content{
      max-width: 350px;
      padding: 35px 25px;
      min-height: 0;
   }
   .s10__title{
      margin-bottom: 35px;
   }
   .s10__phone{
      margin-top: 30px;
      margin-bottom: 30px;
   }
   .s10__gmail{
      margin-bottom: 30px;
   }

   /* .s4__col {

   } */
   /* .s4__col {
      min-height: 0px;
   }

   .s4__item {
      margin-bottom: 35px;
   }

   .s4 {
      padding-top: 65px;
      padding-bottom: 10px;
   }

   .s4__col1 {
      padding-top: 50px;
   } */

   /* .image__sell,
   .image__sell>img {
      display: none;
   } */

   /* .form__title:after {
      content: "Первый месяц - 50% скидка!";
      position: absolute;
      bottom: -20px;
      right: 50%;
      width: 100%;
      font-family: MontR;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #950000;
      transform: translateX(50%);
   } */

}

/* @media (max-width: 687px) {
   .s1__subtitle {
      max-width: 300px;
   }

   .s2 {
      padding-bottom: 0px;
   }

   .s1__but {
      padding: 18px 40px;
   }

   .s2__wrap {
      padding-top: 380px;
      background-size: 400px;
   }

   .s2__button {
      margin-top: 20px;
   }

   .s2__item-name {
      font-size: 20px;
      line-height: 23px;
   }

   .s2__item-text {
      font-size: 18px;
      line-height: 23px;
   }

   .s6__swiper-slide {
      height: 468px;
   }

   .s7 {
      padding: 66px 22px;
      background-size: 282px;
      background-position: 50% 130px;
   }

   .s7__content {
      padding-top: 222px;
   }

   .s7__title {
      font-size: 20px;
      line-height: 23px;
   }

   .s7__text {
      font-size: 18px;
      line-height: 23px;
   }

   .s7__title-top {
      font-size: 26px;
      line-height: 30px;
   }

   .s9__image>img {
      max-width: 331px;
   }

   .s1__container {
      padding: 20px;
   }
} */

@media (max-width: 730px){
   .s1{
      background-image: url(../images/s1-bg-small!2.jpg);
      background-position: 100% 0;
      background-size: auto;
      padding: 0px;
   }
   .s1__container{
      padding: 40px 30px 0 30px;
   }

   .s1__subtitle {
      position: absolute;
      top: 750px;
      bottom: 0;
      /* max-width: 400px; */
      max-width: 90%;
      font-size: 22px;
      line-height: 26px;
   }
   .s1__steps {
      flex-direction: column;
      margin-top: 410px;
   }
   .step {
      font-size: 22px;
      line-height: 23px;
      /* max-width: 60%; */
      max-width: 90%;

      margin-left: 0;
      padding-left: 48px;
  }
   .step2 {
      margin-top: 22px;
   }
   /* .s1__steps {
      margin-top: 450px;
   } */
   .special {
      left: 30px;
      bottom: 310px;
      width: 20%;
   }
   .s1__but{
      position: absolute;
      top: 380px;
      right: 50%;
      transform: translateX(50%);
      min-width: 330px;
   }
   .s2{
      padding: 190px 0 80px 0;
   }
   .s2__wrap {
      padding-top: 284px;
      background-size: 300px;
      flex-direction: column;
  }
   .s3__item-title {
      font-size: 50px;
   }

   .s4__phone {
      right: 0;
  }
   .s4__phone>img {
      width: 70%;
   }
   .s4__phone::after {
      right: 75px;
   }
   .s4__phone::before {
      right: 10px;
   }
   .image__sale>img {
      width: 70%;
   }
   .s6__swiper-slide {
      height: 500px;
  }
   .s8__col1 {
      padding-top: 0px;
      margin-right: 22px;
      padding-left: 0px;
   }
   .s8__col1>img{
      width: 80%;
   }
}
@media (max-width: 680px) {
   .s4__title{
      text-align: left;
      margin-bottom: 430px;
   }
   .s4__phone {
      top: 260px;
      right: 25%;
   }
   .s4__phone::after,
   .image__sell,
   .image__sell>img {
      display: none;
   }
   .s4__phone::before {
      right: 45%;
      top: -45px;      
      transform: rotate(0deg);
  }
   .s7 {
      background-size: 45%;
  }
}
@media (max-width: 655px) {
   .image__sell {
      display: none;
  }
  .company__text{
     font-size: 14px;
     line-height: 26px;
  }
  .s8 {
      padding: 50px 20px 100px 20px;
   }
  .s9__form {
      padding: 40px 30px;
      max-width: 350px;
      min-width: 280px;
   }
   .s9__send-button {
      min-width: 240px;
  }
}
@media (max-width: 634px){
   .s4{
      padding: 65px 50px 15px 50px;
   }
   .form__title:after {
      content: "Первый месяц - 50% скидка!";
      position: absolute;
      bottom: -20px;
      right: 50%;
      width: 100%;
      font-family: MontR;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #950000;
      transform: translateX(50%);
   }

   .s5__form {
      border: 0px;
      padding: 10px;
      margin-bottom: 75px;
   }

   .form__content {
      margin: auto;
      min-width: 228px;
      padding: 0;
   }
   .s5__form-wrap{
      min-width: 228px;

   }
}
@media (max-width: 560px) {
   .main-title {
      font-size: 26px;
      line-height: 33px;
   }
   .s1__but {
      top: 390px;
   }
   .s1__steps {
      margin-top: 490px;
  }
   .special {
      left: 30px;
      bottom: 340px;
      width: 25%;
  }

   /* по центру 4 текст  (где был тел)
   отключить рамки формы
   как мы работаем девушку по центру */

   .s6__swiper-slide {
      height: 380px;
  }
}

/* ниже мобилки */
@media (max-width: 510px) {
   .s1__container{
      padding: 40px 20px 0 20px;
   }
   .s1__steps {
      margin-top: 480px;
   }

   .s1__but{
      font-size: 18px;
      padding: 26px 20px;   
   }

   .s2{
      padding: 190px 0 65px 0;
   }
   .s2__container{
      padding-left: 20px;
      padding-right: 20px;
   }
   .s2__button {
      margin-top: 50px;
   }

   .s3__title {
      font-size: 26px;
      line-height: 33px;
   }

   .s4{
      padding: 65px 20px 15px 20px;
   }
   .s4__phone {
      top: 200px;
      right: 18%;
  }

   .s6__title {
      font-size: 26px;
      line-height: 33px;
      margin-bottom: 30px;
   }
   .s6 {
      padding: 50px 20px;
   }
   .s6__swiper-slide {
      height: 350px;
   }
   .swiper-pagination {
      bottom: -30px;
   }

   .s7 {
      padding: 65px 0 25px 0;
      background-position: 50% 120px;
      background-size: 70%;
   }
   .s7__wrapper {
      padding: 0 20px;
   }
   .s7__title-top {
      margin-bottom: 380px;
   }

   .s8{
      padding: 50px 20px;
   }
   .s8__slide {
      min-height: 0;
   }
   .s8__col1 {
      display: none;
   }
   /* .s8__col1{
      margin-right: 5px;
   } */
   .s8__slide{
      padding: 30px;
   }
   .company__name {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 15px;
   }
   .author {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 15px;
   }
   .company__text {
      font-size: 12px;
      line-height: 18px;
   }

   .s9__content {
      display: block;
   }
   .s9 {
      background-image: none;
      padding: 65px 0 15px 0;
   }
   .s9__image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
   }
   .s9__image>img {
      max-width: 80%;
   }
   .s9__form {
      min-width: 0px;
      box-shadow: none;
      border: none;
      margin: 50px auto;
      padding: 0;
      max-width: 90%;
   }

   .s10{
      height: 500px;
   }
   .s10__content{
      max-width: 100%;
      position: relative;
      left: 0;
      min-height: 400px;
      padding: 65px 22px;
   }
   .s10__title {
      font-size: 26px;
      line-height: 33px;
   }
   .s10__place {
      font-size: 18px;
      line-height: 20px;
      text-transform: none;
   }
   .footer {
      position: absolute;
      bottom: -555px;
   }
   .footer__container {
      padding: 15px 20px;
   }
}

@media (max-width: 484px) {
   .special {
      bottom: 390px;
      width: 30%;
   }  
   .step {
      font-size: 18px;
      line-height: 23px;
      max-width: 100%;
   }
   .s1__subtitle {
      top: 750px;
      font-size: 18px;
      line-height: 24px;
      max-width: 90%;
   }

   .s2 {
      padding: 160px 0 65px 0;
   }

   .s3__wrap {
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   .s3__item {
      margin-bottom: 20px;
   }
   .s6__swiper-slide {
      height: 330px;
   }
}

@media (max-width: 420px) {
   .s4__phone {
      right: 13%;
  }
}

@media (max-width: 415px) {
   .s3{
      padding: 0;
   }
   .s3__title {
      margin-bottom: 35px;
   }
   .s4__phone {
      right: 12%;
   }
   .s6__swiper-slide {
      height: 280px;
   } 
}

@media (max-width: 400px) {
   .s1__container{
      padding: 20px 20px 0 20px;
   }
   .special {
      bottom: 410px;
   }
   .s4__phone {
      right: 10%;
   }
}

/* @media (max-width: 542px) {
   .form__content {
      padding: 0;
   }

   .s4__title {
      font-size: 26px;
      line-height: 33px;
      text-align: left;
   }

   .s4__item-title {
      font-size: 20px;
      line-height: 23px;
      text-align: left;
   }

   .s4 {
      padding-right: 24px;
      padding-left: 24px;
   }

   .s4__item-text {
      font-size: 18px;
      line-height: 23px;
      text-align: left;
   }

   .s4__item {
      text-align: left;
   }

   .s6__swiper-slide {
      height: 367px;
   }
   .s4__title {
      margin-bottom: 345px;
   }
   .s10__content {
      padding: 65px 20px;
   }

} */
/* @media(max-width: 580px){
   .s3__wrap {
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
} */
/* @media (max-width: 530px) {
   .s1__steps {
      flex-direction: column;
      margin-top: 419px;
   }

   .s2__wrap {
      padding-top: 284px;
      background-size: 300px;
   }

   .step {
      max-width: 100%;
   }

   .special {
      bottom: 329px;
   }

   .step2 {
      margin: 0;
      margin-top: 20px;
   }

   .step {
      font-size: 18px;
      line-height: 23px;
   }

   .s1__subtitle {
      position: absolute;
      top: 661px;
      max-width: 375px;
   }

   .s1__but {
      position: absolute;
      top: 382px;
      right: 50%;
      transform: translateX(50%);
      min-width: 275px;
   }

   .s1 {
      padding: 0;
   }

   .s8__col1>img {
      width: 37px;
   }

   .s9 {
      padding: 65px 22px;
   }

   .s9__form {
      padding: 0;
      box-shadow: none;
      border: none;
   }

   .s9__form-input {
      width: 100%;
   }

   .s9__send-button {
      margin-bottom: 69px;
   }

   .s9__title-top {
      font-size: 26px;
      line-height: 30px;
      text-align: left;
   }

   .s9__form-title {
      font-size: 20px;
      line-height: 23px;
   }

   .s9__form-subtitle {
      font-size: 14px;
      line-height: 25px;
      max-width: 100%;
      text-align: center;
      width: 100%;
      margin-top: 15px;
      color: #B2BCC3;
   }

   .s9__send-button {
      min-width: 285px;
   }
   .s2__container{
      padding-right: 22px;
      padding-left: 22px;
   }
} */

/* @media (max-width: 464px) {
   .s3__wrap {
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }

   .s3__item {
      margin-bottom: 40px;
   }

   .s3__container {
      padding: 60px 0;
   }

   .s3__title {
      font-size: 26px;
      line-height: 33px;
   }

   .s3__item-title {
      font-size: 50px;
      line-height: 61px;
   }

   .s3__item-text {
      font-size: 18px;
      line-height: 30px;
   }

   .s5__form {
      padding: 3px;
      margin-bottom: 70px;
   }

   .s6__swiper-slide {
      height: 306px;
   }

   .s2__button {
      margin-bottom: 60px;
      margin-top: 52px;
   }

   .s6__title,
   .s8__title {
      font-size: 26px;
      line-height: 33px;
      margin-bottom: 32px;
      text-align: left;
   }

   .s6 {
      padding: 60px 20px;
      padding-bottom: 80px;
   }

   .swiper-pagination {
      bottom: -20px;
   }

   .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
   }

   .s8__col2>img {
      max-height: 30px;
   }

   .company__name {
      font-size: 14px;
      line-height: 46px;
   }

   .author {
      font-size: 10px;
      line-height: 11px;
   }

   .company__text {
      font-size: 8px;
      line-height: 12px;
   }

   .s8__slide {
      min-height: 250px;
   }

   .s8 {
      position: relative;
      padding: 65px 20px;
   }

   .company__name {
      margin: 0;
   }

   .author {
      margin: 5px 0;
   }
} */

@media (max-width: 391px){
   .s2__button {
      font-size: 16px;
   }
   .s4__phone {
      right: 9%;
   }
}
@media (max-width: 375px){
   .special {
      bottom: 380px;
      left: 15px;
   }  
   /* .step {
      font-size: 18px;
      line-height: 23px;
      max-width: 100%;
   }
   .s1__subtitle {
      top: 750px;
      font-size: 18px;
      line-height: 24px;
      max-width: 90%;
   } */
   /* .s2 {
      padding: 160px 0 65px 0;
   } */
   .s2__item-name {
      margin: 35px 0 13px 0;
      font-size: 20px;
      line-height: 23px;
   }
   .s4 {
      padding: 65px 20px 35px 20px;
   }
   .s4__phone {
      top: 240px;
      right: 7%;
  }
   .s4__title {
      margin-bottom: 420px;
   }
   .s4__item-title {
      font-size: 20px;
      line-height: 23px;
      margin: 35px 0 13px 0;
   }
   .s5__form{
      padding: 1px;
   }

   /* .swiper-pagination {
      bottom: auto;
   }  */
   /* .swiper-pagination {
      bottom: -30px;
   } */
   .s6__swiper-slide {
      height: 260px;
   }

   .s7__title-top {
      margin-bottom: 320px;
   }
   .s7__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 13px;
   }  

   .s8__col1{
      display: none;
   }
   .company__name {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
   }
   .author {
      font-size: 10px;
      line-height: 11px;
      margin-bottom: 5px;
   }
   .company__text {
      font-size: 9px;
      line-height: 12px;
   }
   .s8__col2>img{
      max-width: 85%;
   }
   /* .s8__slide{
      padding: 30px;
   } */

   .s10{
      height: 350px;
   }
   .s10__content {
      min-height: 500px;
   }
}

   /* meizu 16/9 */
@media (max-width: 360px){
   .s2__button {
      font-size: 14px;
   }
   .s2__button {
      padding: 26px 20px;
   }
}

@media (max-width: 351px){
   .s1__subtitle {
      top: 790px;
   }
   /* .s1__but{
      font-size: 18px;   
   } */
   /* .s2__button {
      font-size: 14px;
   } */
   .s4__col {
      max-width: 280px;
   }
   .s4__phone {
      right: 1%;
  }
}
@media (max-width: 320px){
   .s1__but{
      min-width: 280px;
      padding: 20px 40px;
   }
   /* .s2__button {
      padding: 26px 20px;
   } */
   .s4__phone {
      right: 0;
  }
}

/* @media (max-width: 920px) {
   .s1__title {
      font-size: 30px;
      line-height: 33px;
   }
   .s1__subtitle {
      font-size: 18px;
      line-height: 24px;
   }
   .s1__steps {
      margin-top: 450px;
   }
   .special {
      bottom: 400px;
   }
   .s1__subtitle {
      max-width: 375px;
   }
   .s2__wrap {
      flex-direction: column;
      padding-top: 380px;
   }

   .s10 {
      height: 337px;
   }

   .s10__title {
      font-size: 26px;
      line-height: 33px;
   }
   .s10__place {
      font-size: 18px;
      line-height: 20px;
   }
   .s10__phone {
      font-size: 18px;
      line-height: 23px;
   }
   .s10__gmail {
      font-size: 18px;
      line-height: 23px;
   }
} */

/* @media (max-width: 320px) {
   .s1__but {
      padding: 18px 20px;
   }
} */